.primary-button{
    color: #fff;
    background-color: var(--color-primary);
    padding:1.5rem 5rem;
    border-radius: 10rem;
    border: none;
    cursor: pointer;
}

.text-blue-dark{
    color: var(--color-blue-dark);
}

.text-md{
    font-size: 1.3rem;
}